{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <title>Register</title>
    <style>
        label{
            color: #fff;
        }
        li{
            color: #fff;
        }
        span{
            color: #fff;
        }
        small{
            color: #fff;
        }
    </style>
</head>
<body class="bg-light">

    <section>
        <div class="container mt-5 pt-5">
            <div class="row mt-4">
                <div class="col-md-5 m-auto bg-dark rounded-lg p-5">

                    <form action="" method="POST">
                        {% csrf_token %}
                        <h2 class="text-white mb-3">Register</h2>
                        {{ form|crispy }}
			            <button class="btn btn-outline-info">Register</button>
                        <hr />
                        <p class="float-right text-white">Already have an account ? <a href={% url 'Login' %} class="text-white">Login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>